$background-color: #f0ead6;
$images-background-color: #4b3e2b;

$vine-color: #a8c686;
$vine-color-dark: #557855;
$vine-color-darker: #2d5d2c;

$text-color: #2c3e50;

$border-radius: 400px;

@mixin display-flex($direction: row, $gap: 0, $justify: normal, $align: normal) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
   gap: $gap;
}
