@mixin display-flex($direction: row, $gap: 0, $justify: normal, $align: normal) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
   gap: $gap;
}

@mixin display-flex-row ($gap: 1rem, $justify: center, $align: center) {
   @include display-flex(row, $gap, $justify, $align);
}

@mixin display-flex-column ($gap: 1rem, $justify: center, $align: center) {
   @include display-flex(column, $gap, $justify, $align);
}


