@use "./mixins" as *;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   list-style: none;
   scroll-behavior: smooth;
   border: none;
   outline: none;
   transition: all 0.3s ease;
   color: $text-color;
}

*:not(h1, h2, h3, h4, h5) {
   font-size: x-large;
}

body {
   @include display-flex(column, 0, center, center);
}

.flex-row {
   width: 100%;
   @include display-flex(row, 0, space-between, center);
}

.flex-column {
   height: 100%;
   @include display-flex(column, 0, space-between, center);
}

.span {
   text-align: start;
   &--bold {
      font-weight: bold;
   }

   &--italic {
      font-style: italic;
   }
}

.header {
   z-index: 3;
   background-color: $vine-color-darker;

   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 25dvw;
   padding-right: 1dvw;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   @include display-flex(row, 0rem, center, center);

   & > .flex-row {
      width: 70dvw;
      justify-content: space-between;
   }
   &__li {
      color: $background-color;
      white-space: nowrap;
      list-style-type: none;
   }
   &__logo {
      width: 3rem;
      height: 3rem;
      border-radius: 100px;
      background-color: lightgray;
   }
   &__nav {
   }
   &__ul {
      @include display-flex(row, 14dvw, center, center);
   }
}

.main {
   width: 100%;
   height: 100dvh;
   padding-top: 11.2dvh;
   display: grid;
   grid-template-columns: [left] 50% [right] 50%;
   justify-items: center;

   background-color: $background-color;

   &__welcome-text {
      padding-top: 2rem;
      padding-left:4rem;
      padding-right: 4rem;

      border-right: 20px solid $images-background-color;

      @include display-flex(column, 10rem, normal, center);
      height: 100%;
      & > h1 {
         font-size: larger;
      }
   }
}

li {
   list-style-type: disc;
}

.section {
   width: 100%;
   height: auto;
   min-height: 90.2dvh;

   scroll-margin-top: 11dvh;

   display: grid;
   grid-template-columns: [left] 50% [right] 50%;

   align-items: center;
   justify-items: center;

   background-color: $background-color;

   &__text {
      &--leaf {
      }

      &--event {
         width: 80%;

         @include display-flex(column, 2rem, center, center);
      }
   }

   .h3 {
   }

   &__h2 {
      font-weight: bold;
   }

   &__leaf-wrapper {
      width: 100%;
      height: 100%;

      background: transparent;

      @include display-flex(column, 0rem, center, center);
      &--left {
         border: none;
         border-right: 20px solid $images-background-color;
      }
      &--right {
         border: none;
         border-left: 20px solid $images-background-color;
      }
   }

   &__leaf {
      @include display-flex(column, 0rem, center, center);
      width: 100%;
      height: 100%;
      $leaf-border-radius: 20rem;
      &--left {
         background: linear-gradient(160deg, rgb(168, 198, 134), rgb(45, 93, 44));
         border-radius: 0 $leaf-border-radius;
      }
      &--right {
         background: linear-gradient(-160deg, rgb(168, 198, 134), rgb(45, 93, 44));
         border-radius: $leaf-border-radius 0;
      }
   }

   &--events {
      & > div.vine.vine--top-left > .flex-column {
         padding-left: 5rem;
         gap: 3rem;
      }
   }

   &--about-us {
      & > div > h2,
      p,
      li,
      span {
         color: $background-color;
      }
      display: inline-block;
   }
}
.ul {
   &__enumeration {
      padding-left: 1.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
   }
}
.vine {
   height: 100%;
   width: 100%;
   background-color: $vine-color;
   overflow: hidden;

   @include display-flex(column, 0, center, center);
   &--main {
      border-left: 20px solid $images-background-color;
   }
   &--dark {
      padding-top: 1rem;
      padding-left: 5rem;
      padding-right: 5rem;

      background-color: $vine-color-darker;
      height: calc(100vh - 9dvh);

      @include display-flex(column, 10dvh, center, center);
   }
   &--bottom-left {
      border-bottom-left-radius: 400px;
   }
   &--top-right {
      border-top-right-radius: 400px;
   }
   &--top-left {
      border-top-left-radius: 400px;
   }

   &--gradient {
      &-top2bottom {
         background: linear-gradient(0deg, #2d5d2c 0%, #a8c686 20%);
      }
      &-bottom2top {
         background: linear-gradient(180deg, #2d5d2c 0%, #a8c686 20%);
      }
   }

   &--half {
      align-self: flex-end;
      height: 60%;
   }
}

.photo-card {
   width: 100%;
   height: 100%;
   padding: 1rem;
   padding-bottom: 0.3rem;
   background-color: $images-background-color;

   @include display-flex(column, 0, center, center);

   img {
      width: 100%;
      height: 100%;
   }

   &--event {
      &:nth-child(1) {
         align-self: baseline;
         margin-left: 3rem;
      }
      &:nth-child(2) {
         align-self: flex-end;
         margin-right: 3rem;
      }
      width: 49%;
   }

   &--main {
      width: calc(100% - 6.7%);
      height: calc(100% - 6.1%);
      border-top-left-radius: calc(400px + 1rem);

      margin-top: auto;
      margin-left: auto;

      & > div > img {
         width: 45dvw;
         height: 75dvh;
         border-top-left-radius: 400px;
      }
   }

   & > .flex-column {
      gap: 0.5rem;
   }

   &__date,
   &__location {
      &--event {
         font-size: medium;
      }
      color: $background-color;
   }
}

.events-photo {
   @include display-flex(column, 1rem, center, center);
}
