* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  color: #2c3e50;
}

*:not(h1, h2, h3, h4, h5) {
  font-size: x-large;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.span {
  text-align: start;
}
.span--bold {
  font-weight: bold;
}
.span--italic {
  font-style: italic;
}

.header {
  z-index: 3;
  background-color: #2d5d2c;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 25dvw;
  padding-right: 1dvw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.header > .flex-row {
  width: 70dvw;
  justify-content: space-between;
}
.header__li {
  color: #f0ead6;
  white-space: nowrap;
  list-style-type: none;
}
.header__logo {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  background-color: lightgray;
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14dvw;
}

.main {
  width: 100%;
  height: 100dvh;
  padding-top: 11.2dvh;
  display: grid;
  grid-template-columns: [left] 50% [right] 50%;
  justify-items: center;
  background-color: #f0ead6;
}
.main__welcome-text {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-right: 20px solid #4b3e2b;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 10rem;
  height: 100%;
}
.main__welcome-text > h1 {
  font-size: larger;
}

li {
  list-style-type: disc;
}

.section {
  width: 100%;
  height: auto;
  min-height: 90.2dvh;
  scroll-margin-top: 11dvh;
  display: grid;
  grid-template-columns: [left] 50% [right] 50%;
  align-items: center;
  justify-items: center;
  background-color: #f0ead6;
}
.section__text--event {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section__h2 {
  font-weight: bold;
}
.section__leaf-wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.section__leaf-wrapper--left {
  border: none;
  border-right: 20px solid #4b3e2b;
}
.section__leaf-wrapper--right {
  border: none;
  border-left: 20px solid #4b3e2b;
}
.section__leaf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  width: 100%;
  height: 100%;
}
.section__leaf--left {
  background: linear-gradient(160deg, rgb(168, 198, 134), rgb(45, 93, 44));
  border-radius: 0 20rem;
}
.section__leaf--right {
  background: linear-gradient(-160deg, rgb(168, 198, 134), rgb(45, 93, 44));
  border-radius: 20rem 0;
}
.section--events > div.vine.vine--top-left > .flex-column {
  padding-left: 5rem;
  gap: 3rem;
}
.section--about-us {
  display: inline-block;
}
.section--about-us > div > h2,
.section--about-us p,
.section--about-us li,
.section--about-us span {
  color: #f0ead6;
}

.ul__enumeration {
  padding-left: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.vine {
  height: 100%;
  width: 100%;
  background-color: #a8c686;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.vine--main {
  border-left: 20px solid #4b3e2b;
}
.vine--dark {
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #2d5d2c;
  height: calc(100vh - 9dvh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10dvh;
}
.vine--bottom-left {
  border-bottom-left-radius: 400px;
}
.vine--top-right {
  border-top-right-radius: 400px;
}
.vine--top-left {
  border-top-left-radius: 400px;
}
.vine--gradient-top2bottom {
  background: linear-gradient(0deg, #2d5d2c 0%, #a8c686 20%);
}
.vine--gradient-bottom2top {
  background: linear-gradient(180deg, #2d5d2c 0%, #a8c686 20%);
}
.vine--half {
  align-self: flex-end;
  height: 60%;
}

.photo-card {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 0.3rem;
  background-color: #4b3e2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.photo-card img {
  width: 100%;
  height: 100%;
}
.photo-card--event {
  width: 49%;
}
.photo-card--event:nth-child(1) {
  align-self: baseline;
  margin-left: 3rem;
}
.photo-card--event:nth-child(2) {
  align-self: flex-end;
  margin-right: 3rem;
}
.photo-card--main {
  width: 93.3%;
  height: 93.9%;
  border-top-left-radius: calc(400px + 1rem);
  margin-top: auto;
  margin-left: auto;
}
.photo-card--main > div > img {
  width: 45dvw;
  height: 75dvh;
  border-top-left-radius: 400px;
}
.photo-card > .flex-column {
  gap: 0.5rem;
}
.photo-card__date, .photo-card__location {
  color: #f0ead6;
}
.photo-card__date--event, .photo-card__location--event {
  font-size: medium;
}

.events-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */